Leeza A. Santos

HHA 550 Session 11 Assignment

Conduct Naive Bayes on your data set
Document your steps, show your results and explain the outcome in Jupyter

In [1]:
# import libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

## Initial Data Setup
## Seting up packages

In [12]:
#importing data
#ETL process was performed prior

df = pd.read_csv("C:\\Users\\Leeza A. Santos\\HHA 550\\Assignments\\readmission.csv")

## Loading the data

In [13]:
#plotting
import matplotlib.pyplot as plt
import seaborn as sns


#linear algebra
import numpy as np

#data processing
import pandas as pd

#splitting data
from sklearn.model_selection import train_test_split

#scaling
from sklearn.preprocessing import StandardScaler

#tuning
from sklearn.model_selection import RandomizedSearchCV

#model evaluation
from sklearn import metrics

## Data Characteristics

In [14]:
#view our columns

df.head()

,ethnicity/race,sex,age,days_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,diabetes_med,diabetes_med_change,readmitted
0,African American,Male,[70-80),4,Allergy and Immunology,11,1,17,0,0,0,5,None,Yes,Yes,>30
1,Caucasian,Female,[80-90),6,Allergy and Immunology,50,0,17,1,0,1,6,None,Yes,Yes,<30
2,Caucasian,Male,[40-50),1,Allergy and Immunology,61,0,17,0,0,0,6,None,No,No,No
3,Hispanic,Female,[70-80),8,Allergy and Immunology,55,3,24,1,2,2,6,None,No,No,<30
4,Caucasian,Male,[70-80),2,Allergy and Immunology,54,0,18,0,0,5,6,None,Yes,No,>30

In [15]:
#lets take a look at the data types in the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ethnicity/race       101766 non-null  object
 1   sex                  101766 non-null  object
 2   age                  101766 non-null  object
 3   days_in_hospital     101766 non-null  int64
 4   medical_specialty    101766 non-null  object
 5   num_lab_procedures   101766 non-null  int64
 6   num_procedures       101766 non-null  int64
 7   num_medications      101766 non-null  int64
 8   number_outpatient    101766 non-null  int64
 9   number_emergency     101766 non-null  int64
 10  number_inpatient     101766 non-null  int64
 11  number_diagnoses     101766 non-null  int64
 12  max_glu_serum        101766 non-null  object
 13  diabetes_med         101766 non-null  object
 14  diabetes_med_change  101766 non-null  object
 15  readmitted           101766 non-null  object
dtypes: int64(8), object(8)
memory usage: 12.4+ MB

In [16]:
#looking at the stats breakdown

df.describe()

,days_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [17]:
#convert string

#ethnicity/race
df['ethnicity/race'] = df['ethnicity/race'].map({
    'Caucasian':int(5),
    'African American':int(4), 
    'Hispanic':int(3),
    'Asian':int(2), 
    'Other':int(1), 
    'Null':int(0)})

#sex
df['sex'] = df['sex'].map({
    'Male' :int(2),
    'Female' :int(1),
    'Unknown/Invalid' :int(0),})

#age
df['age'] = df['age'].map({
    '[90-100)':int(9),
    '[80-90)':int(8), 
    '[70-80)':int(7),
    '[60-70)':int(6), 
    '[50-60)':int(5),
    '[40-50)':int(4),
    '[30-40)':int(3), 
    '[20-30)':int(2),
    '[10-20)':int(1), 
    '[0-10)':int(0)})

#medical_specialty
df['medical_specialty'] = df['medical_specialty'].map({
'Allergy and Immunology':int(71),
'Anesthesiology':int(70),
'Anesthesiology-Pediatric':int(69),
'Cardiology':int(68),
'Cardiology-Pediatric':int(67),
'DCPTEAM':int(66),
'Dentistry':int(65),
'Dermatology':int(64),
'Emergency/Trauma':int(63),
'Endocrinology':int(62),
'Endocrinology-Metabolism':int(61),
'Family/General Practice':int(60),
'Gastroenterology':int(59),
'Gynecology':int(58),
'Hematology':int(57),
'Hematology/Oncology':int(56),
'Hospitalist':int(55),
'Infectious Diseases':int(54),
'Internal Medicine':int(53),
'Nephrology':int(52),
'Neurology':int(51),
'Neurophysiology':int(50),
'Obsterics & Gynecology-Gynecologic Onco':int(49),
'Obstetrics':int(48),
'Obstetrics and Gynecology':int(47),
'Oncology':int(46),
'Ophthalmology':int(45),
'Orthopedics':int(44),
'Orthopedics-Reconstructive':int(43),
'Osteopath':int(42),
'Otolaryngology':int(41),
'Outreach Services':int(40),
'Pathology':int(39),
'Pediatrics':int(38),
'Pediatrics-Allergy and Immunology':int(37),
'Pediatrics-Critical Care':int(36),
'Pediatrics-Emergency Medicine':int(35),
'Pediatrics-Endocrinology':int(34),
'Pediatrics-Hematology-Oncology':int(33),
'Pediatrics-Infectious Diseases':int(32),
'Pediatrics-Neurology':int(31),
'Pediatrics-Pulmonology':int(30),
'Perinatology':int(),
'Physical Medicine and Rehabilitation':int(29),
'Podiatry':int(28),
'Proctology':int(27),
'Psychiatry':int(26),
'Psychiatry-Addictive':int(25),
'Psychiatry-Child/Adolescent':int(24),
'Psychsology':int(23),
'Pulmonology':int(22),
'Radiologist':int(21),
'Radiology':int(20),
'Resident':int(19),
'Rheumatology':int(18),
'Speeches':int(17),
'Sports Medicine':int(16),
'Surgeon':int(15),
'Surgery-Cardiovascular':int(14),
'Surgery-Cardiovascular/Thoracic':int(13),
'Surgery-Colon & Rectal':int(12),
'Surgery-General':int(11),
'Surgery-Maxillofacial':int(10),
'Surgery-Neuro':int(9),
'Surgery-Pediatric':int(8),
'Surgery-Plastic':int(7),
'Surgery-Plastic within Head and Neck':int(6),
'Surgery-Thoracic':int(5),
'Surgery-Vascular':int(4),
'Surgical Specialty':int(3),
'Urology':int(2),
'PhysicianNotFound':int(1),
'Null' :int(0),})

#max_glu_serum
df['max_glu_serum'] = df['max_glu_serum'].map({
    '>300' :int(3),
    '>200' :int(2),
    'Norm':int(1),
    'None' :int(0),})

#diabetes med
df['diabetes_med'] = df['diabetes_med'].map({
    'Yes':int(1), 
    'No':int(0)})

#diabetes med change
df['diabetes_med_change'] = df['diabetes_med_change'].map({
    'Yes':int(1), 
    'No':int(0)})

#readmitted
df['readmitted'] = df['readmitted'].map({
    '<30' :int(2),
    '>30' :int(1),
    'No' :int(0),})

In [8]:
# confirm the changes made

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ethnicity/race       101766 non-null  int64
 1   sex                  101766 non-null  int64
 2   age                  101766 non-null  int64
 3   days_in_hospital     101766 non-null  int64
 4   medical_specialty    99603 non-null   float64
 5   num_lab_procedures   101766 non-null  int64
 6   num_procedures       101766 non-null  int64
 7   num_medications      101766 non-null  int64
 8   number_outpatient    101766 non-null  int64
 9   number_emergency     101766 non-null  int64
 10  number_inpatient     101766 non-null  int64
 11  number_diagnoses     101766 non-null  int64
 12  max_glu_serum        101766 non-null  int64
 13  diabetes_med         101766 non-null  int64
 14  diabetes_med_change  101766 non-null  int64
 15  readmitted           101766 non-null  int64
dtypes: float64(1), int64(15)
memory usage: 12.4 MB

In [18]:
# convert medical_specialty to int64

df['medical_specialty'] = df['medical_specialty'].fillna(0).astype(np.int64)

In [20]:
# confirm medical_specialty change

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ethnicity/race       101766 non-null  int64
 1   sex                  101766 non-null  int64
 2   age                  101766 non-null  int64
 3   days_in_hospital     101766 non-null  int64
 4   medical_specialty    101766 non-null  int64
 5   num_lab_procedures   101766 non-null  int64
 6   num_procedures       101766 non-null  int64
 7   num_medications      101766 non-null  int64
 8   number_outpatient    101766 non-null  int64
 9   number_emergency     101766 non-null  int64
 10  number_inpatient     101766 non-null  int64
 11  number_diagnoses     101766 non-null  int64
 12  max_glu_serum        101766 non-null  int64
 13  diabetes_med         101766 non-null  int64
 14  diabetes_med_change  101766 non-null  int64
 15  readmitted           101766 non-null  int64
dtypes: int64(16)
memory usage: 12.4 MB

In [21]:
df.head()

,ethnicity/race,sex,age,days_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,diabetes_med,diabetes_med_change,readmitted
0,4,2,7,4,71,11,1,17,0,0,0,5,0,1,1,1
1,5,1,8,6,71,50,0,17,1,0,1,6,0,1,1,2
2,5,2,4,1,71,61,0,17,0,0,0,6,0,0,0,0
3,3,1,7,8,71,55,3,24,1,2,2,6,0,0,0,2
4,5,2,7,2,71,54,0,18,0,0,5,6,0,1,0,1

In [22]:
# there are some null values, lets convert those to 0

df=df.replace(to_replace='Null',value=0)

## Splitting up the data
#### Creating a trainning and test data set

In [23]:
# x = all columns BESIDES readmitted
# y = ONLY readmitted

X = df.drop(['readmitted'], axis = 1)
y = df.pop('readmitted')

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [25]:
## Scaling data
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Naive Bayes

Naive Bayes is a probabilistic machine learning algorithm that can be used in a wide variety of classification tasks. Typical applications include filtering spam, classifying documents, sentiment prediction etc. A naive Bayes classifier assumes that the presence (or absence) of a particular feature (readmitted) of a class is unrelated to the presence (or absence) of any other feature, given the class variable. Basically, it's "naive" because it makes assumptions that may or may not turn out to be correct.

The accuracy matches the expected value calculated by the probability framework of 55% and the composition of the training dataset.

In [31]:
from sklearn.naive_bayes import GaussianNB

NB_model = GaussianNB()

# fit the model
NB_model.fit(X_train, y_train)

y_predict_NB = NB_model.predict(X_test)

# model score
predict_train_NB = NB_model.predict(X_train)
predict_test_NB = NB_model.predict(X_test)

# accuracy score
NB_train_score = NB_model.score(X_train,y_train)
NB_test_score = NB_model.score(X_test,y_test)

# f1-score
NB_f1_score = metrics.f1_score(y_test,predict_test_NB, average = 'macro')  
NB_recall = metrics.recall_score(y_test, predict_test_NB, average = 'macro')

print('Accuracy on Train set',NB_train_score)
print('Accuracy on Test set',NB_test_score)
print('F1-score on Test set:',NB_f1_score)
print(metrics.classification_report(y_test, predict_test_NB))

Accuracy on Train set 0.5519540681677804
Accuracy on Test set 0.5528005240746806
F1-score on Test set: 0.3665651518870447
              precision    recall  f1-score   support

           0       0.58      0.89      0.70     16514
           1       0.47      0.17      0.25     10669
           2       0.25      0.10      0.14      3347

    accuracy                           0.55     30530
   macro avg       0.43      0.39      0.37     30530
weighted avg       0.51      0.55      0.48     30530